@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
.header-container{
    text-align: center;
}
.brand-name{
    font-size: 25px;
    font-weight: 700;
}
.bg-custom{
    /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ); */
  background-color:rgba(2, 72, 100, 0.815);
}
.cart-icon{
    color: white;
    font-size: 30px;
    margin:5px 5px 5px 10px;
}
.budget-headings{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
    color: black;
    padding:10px 0;
}
.sub-headings{
    font-family: 'Mali', cursive;
}